@screen-mobile-max: 767px;
@screen-tablet-min: (@screen-mobile-max + 1);
@screen-tablet-max: 1023px;
@screen-computer-min: (@screen-tablet-max + 1);

@mobile: ~"only screen and (max-width: @{screen-mobile-max})";
@tablet: ~"only screen and (min-width: @{screen-tablet-min}) and (max-width: @{screen-tablet-max}";
@computer: ~"only screen and (min-width: @{screen-computer-min})";

#app-mount {
  height: 100%;
}

// Fix extract margin on mobile
.pusher .ui.menu {
  margin-bottom: 0;
}

.page-content {
  margin-top: 1em;
}

.ui.inverted.dimmer > .content > * {
  color: rgba(0, 0, 0, 0.87) !important;
}

.monospace {
  font-family: "Courier New", Courier, monospace;
}

.unbreakable {
  white-space: nowrap;
}

.baking-node-row {
  font-weight: bold;
}

.overflox-y {
  overflow-y: auto;
}

.table-wrapper {
  overflow-x: auto;
}

@purple: #b413ec;
@red: #db2828;

@table-border-color: rgba(34, 36, 38, 0.15);
@table-header-background-color: #f9fafb;
@table-header-font-color: rgba(0, 0, 0, 0.87);

.concordium {
  &.table {
    background: #fff;
    margin: 1em 0;
    border: 1px solid @table-border-color;
    border-radius: 0.28571429rem;
    color: @table-header-font-color;
    min-width: 600px !important;

    &.purple {
      border-top: 0.2em solid @purple;
    }
    &.red {
      border-top: 0.2em solid @red;
    }

    .th,
    .td {
      padding: 1em;
      display: flex;
      align-items: center;
    }

    .th {
      background-color: @table-header-background-color;
      font-weight: 700;
    }
    .tr {
      border-bottom: 1px solid @table-border-color;
    }
    &.scrollbar .tbody .tr {
      border-right: 1px solid @table-border-color;
    }
    .tbody .tr:last-child {
      border-bottom: none;
    }
  }
}
